[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
flask = "*"
jsonify = "*"
pymongo = "*"
requests = "*"
selenium = "*"
jupyterlab = "*"
jupyter = "*"
beatifulsoup4 = "*"
splinter = "*"
lxml = "*"
flask-pymongo = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
