

<!doctype html>

<html lang="en">

  <head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap/Bootswatch CSS -->

    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">



    <title>Mission to Mars</title>

    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

  </head>



  <body>

    <!-- container -->

    <div class="container">



      <!-- jumbotron -->

      <div class="jumbotron text-center p-3">

        <h1>Mission to Mars</h1>

        <a class="btn btn-primary btn-lg mt-3" href="/scrape" role="button">Scrape New Data</a>

      </div><!-- /jumbotron -->

  

      <!-- 1st row -->

      <div class="row">



        <!-- Mars News -->

        <div class="col-md-12" id="mars-news">

          <h2 class="mb-3">Latest Mars News</h2>

          <p class="lead mb-1">{{ mars.news_title }}</p>

          <p>{{ mars.news_p }}</p>

        </div><!-- /Mars News --> 

      </div><!-- /1st row -->   

 

      <!-- 2nd row -->

      <div class="row">



        <!-- Featured Mars Image -->

        <div class="col-md-6" id="feat-img">

          <h2>Featured Mars Image</h2>

          <img src="{{ mars.featured_image_url }}" class="img-fluid p-2" alt="Featured Mars Image">

        </div><!-- /Featured Mars Image -->

        

        <!-- right column -->

        <div class="col md-5 offset-md-1">

          

          <!-- Mars Weather -->

          <div class="col-md-12 pt-3 mt-5" id="mars-weather">

            <div class="card border-secondary">

              <div class="card-body">

                <h4 class="card-title">Current Weather on Mars</h4>

                <p class="card-text">{{ mars.mars_weather }}</p>

              </div>

            </div>

          </div><!-- /Mars Weather -->



          <!-- Mars Facts -->

          <div class="col-md-12 mt-4" id="mars-facts">

            <div class="card border-secondary">

              <div class="card-body">

                <h4 class="card-title">Mars Facts</h4>

                <p class="card-text">{{ mars.html_table | safe }}</p>

              </div>

            </div>

          </div><!-- /Mars Facts -->

        </div><!-- /right column -->

      </div><!-- /2nd row -->

      

      <!-- 3rd row -->

      <div class="row justify-content-center">

      

        <!-- Mars Hemispheres -->

        <div class="col-md-12" id="mars-hemispheres">

          <h2 class="text-center mt-4">Mars Hemispheres</h2>

        </div>

          {% for hemisphere in mars.hemisphere_image_urls %}

            <div class="col-md-4 card border secondary m-3">

              <img class="card-img-top" src="{{ hemisphere.img_url }}" alt="{{ hemisphere.title }}">

              <div class="card-body">

                <h4 class="card-title text-center">{{ hemisphere.title }}</h4> 

              </div>

            </div>

          {% endfor %}



        <!-- /Mars Hemispheres -->



      </div><!-- /3rd row -->

    </div><!-- /container -->

    

  </body>

 </html>